/* this css file will only style the homepage of our site */

.cat-photo {
  margin: 10px;
  max-width: 500px;
}

#content{
    background-color: maroon;
   }
#firstbox{
  padding: 10px;
    background-color: maroon;
    font-family: 'Courier New', Courier, monospace;
}
#webtitle{
  text-align: middle
}
