/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.special {
  background-color: lavender;
  border: dotted 50px red;
  color: rgb(252, 153, 169);
  font-weight: bold;
}



#petmee{
  width: 300px
}

.minor-section1-1{
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #f0e09c;
  background-color: #f0e09c;
  margin-right: 200px;border-radius: 25px;
  padding: 20px;
  width: 400px;
  height: 450px;
  font-family: 'Courier New', Courier, monospace;
  margin-right: 20px;
}




/* #petmee.class1 {background-image: src="./img/petme.jpg"; }
#udiedd.class2 {background-image: src="./img/crazylamont.jpg"; } */