/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #DDD8C4;
  }


/*
.tabs {
  display: flex;
  border: solid;
  padding: 100px;
  justify-content: center;
  margin: 20px;
}
.item1 {
  order: 1;
  border: solid;
  padding: 100px;
  margin: 20px;
}
.item2 {
  order: 2; 
  border: solid;
  padding: 100px;
  margin: 20px;
}
  */